{% extends 'base.html' %}
{% block title %}Inicio - Granja Vacas{% endblock %}
{% block content %}
<div class="card card-soft p-4">
    <h1>Sistema de Administración - Granja Vacas</h1>
    <p>Bienvenido al sistema de administración. Aquí puede gestionar vacas, producción y eventos sanitarios.</p>
    <img src="https://plus.unsplash.com/premium_photo-1661931727314-a0b62e77b22e?fm=jpg&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2F0dGxlJTIwZmFybXxlbnwwfHwwfHx8MA%3D%3D&ixlib=rb-4.1.0&q=60&w=3000" alt="granja" class="img-fluid rounded">
</div>
{% endblock %}